<template>
  <form @submit.prevent="submitForm">
    <div class="inputWrapper">
      <label for="fio">ФИО:</label>
      <input class="input" type="text" id="fio" v-model="fio" pattern="[А-ЯЁа-яё]+\s[А-ЯЁа-яё]+" required>
    </div>

    <div class="inputWrapper">
      <label for="birthdate">Дата рождения:</label>
      <datepicker id="birthdate" v-model="birthdate" required></datepicker>
    </div>

    <div class="inputWrapper">
      <label for="specialization">Специализация:</label>
      <select id="specialization" v-model="specialization" required>
        <option v-for="option in specializationOptions" :value="option.value" :key="option.code">{{
            option.value
          }}
        </option>
      </select>
    </div>

    <button class="button_submit" type="submit">
      <span>Отправить</span>
    </button>
  </form>
</template>

<script>
import axios from 'axios';
import Datepicker from 'vue3-datepicker';

export default {
  components: {
    Datepicker,
  },
  data() {
    return {
      fio: '',
      birthdate: null,
      specialization: '',
      specializationOptions: [],
      formData: [],
    };
  },
  mounted() {
    this.fetchSpecializationOptions();
  },

  methods: {
    async fetchSpecializationOptions() {
      try {
        const response = await axios.post('https://pp.credit/Services/BrokerService/api/Application/Dictionary', { dictName: 'ARM_OccupationArea' });
        if (response.data && Array.isArray(response.data.description)) {
          this.specializationOptions = response.data.description;
        } else {
          console.error('Ошибка получения специализаций');
          console.log(response);
        }
      } catch (error) {
        console.error(error);
      }
    },
    async submitForm() {
      if (this.validateForm()) {
        const importance = Math.floor(Math.random() * 3) + 1; // Generate random importance value between 1 and 3
        const formData = {
          fio: this.fio,
          birthdate: this.birthdate,
          specialization: this.specialization,
          importance: importance,
        };

        try {
          await this.$store.dispatch('submitForm', formData);
          console.log(this.specialization);
        } catch (error) {
          console.error(error);
        }
      } else {
        // Handle validation errors
      }
    },
    validateForm() {
      const fioPattern = /[А-ЯЁа-яё]+\s[А-ЯЁа-яё]+/;
      const datePattern = /^\d{2}\.\d{2}\.\d{4}$/;

      const errors = [];

      if (!fioPattern.test(this.fio)) {
        errors.push('fio');
      }

      if (!datePattern.test(this.formattedBirthdate)) {
        errors.push('birthdate');
      }

      return errors;
    },
  },
  computed: {
    formattedBirthdate() {
      if (this.birthdate) {
        const date = new Date(this.birthdate);
        const day = String(date.getDate()).padStart(2, '0');
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const year = String(date.getFullYear());
        return `${day}.${month}.${year}`;
      }
      return '';
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/styles/addUserForm";
</style>