<template>
  <div>
    <div v-if="!formData">
      <AddUserForm></AddUserForm>
    </div>
    <div v-else>
      <UsersList></UsersList>
    </div>
  </div>
</template>

<script>
import { defineComponent, computed } from 'vue';
import AddUserForm from "@/views/AddUserForm.vue";
import { useStore } from 'vuex';
import UsersList from "@/components/UsersList.vue";

export default defineComponent({
  name: "HomePage",
  components: { AddUserForm, UsersList },
  setup() {
    const store = useStore();
    const formData = computed(() => store.state.formData.length);

    return {
      formData,
    };
  }
})
</script>