<template>
  <div>
    <table>

      <thead>
      <tr>
        <th>ИД клиента</th>
        <th>ФИО</th>
        <th>Дата рождения</th>
        <th>Специализация</th>
        <th>Важность</th>
        <th>Действия</th>
      </tr>
      </thead>

      <tbody>
      <tr v-for="(user, index) in getFormData" :key="index">
        <td>{{ index + 1 }}</td>
        <td>{{ user.fio }}</td>
        <td>{{ formatBirthdate(user.birthdate) }}</td>
        <td>{{ user.specialization }}</td>
        <td class="td">{{ user.importance }}</td>
        <td class="actions">
          <div class="editUser" @click="changeUserFio(index)"></div>
          <div class="deleteButton" @click="removeUser(index)"></div>
        </td>
      </tr>
      </tbody>

    </table>

    <div v-if="selectedUserIndex !== -1" class="popup" :class="{'popup-open': showPopup}">

      <span v-show="!isFioValid">Некорректный формат ФИО</span>
      <input type="text" id="newFio" v-model="newFio" required @input="validateFio">
      <div class="popupButtons">
        <button class="saveButton" @click="saveUserFio(selectedUserIndex)">Сохранить</button>
        <button class="cancelButton" @click="cancelEditUser">Отмена</button>
      </div>

    </div>
  </div>
</template>

<script>
import {mapGetters, mapMutations} from "vuex";
import store from "@/store";

export default {
  data() {
    return {
      selectedUserIndex: -1,
      newFio: "",
      fioChanged: false,
      showPopup: false,
      isFioValid: true
    };
  },
  created() {
    this.validateFio();
  },

  methods: {
    validateFio() {
      const pattern = /[А-ЯЁа-яё]+\s[А-ЯЁа-яё]+/;
      this.isFioValid = this.newFio.trim() !== '' && pattern.test(this.newFio);
      console.log(this.newFio);
    },

    saveUserFio(index) {
      if (this.isFioValid) {
        store.dispatch("changeUserFIO", {index, newFIO: this.newFio});
        this.selectedUserIndex = -1;
        this.showPopup = false;
      }
    },
    cancelEditUser() {
      this.selectedUserIndex = -1;
      this.showPopup = false;
    },

    ...mapMutations(["deleteUser"]),
    formatBirthdate(date) {
      return new Date(date).toISOString().split("T")[0].replace(/-/g, ".");
    },
    removeUser(index) {
      this.deleteUser(index);
    },
    changeUserFio(index) {
      setTimeout(() => {
        this.showPopup = true;
      }, 10);

      this.fioChanged = true;
      if (this.selectedUserIndex === index) {
        store.dispatch("changeUserFIO", {index, newFIO: this.newFio});
        this.selectedUserIndex = -1;
      } else {
        this.selectedUserIndex = index;
        this.newFio = "";
      }
    }
  },

  computed: {
    ...mapGetters(["getFormData"]),
  }
};
</script>

<style lang="scss">
@import "@/assets/styles/userList";
</style>