@use '../styles/mixins' as m;
@use '../styles/variables' as v;


input {
  height: 16px;
  width: 409px;
  padding: 12px 8px;
  font-size: 0.875rem;
  line-height: 1rem;
  border-radius: 6px;
}

label {
  text-align: left;
}

select {
  width: 427px;
  height: 42px;
  border-radius: 6px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;

  padding: 5px;

}

input:focus {
  outline: 2px solid #007bff;
}

select:focus {
  outline: 2px solid #007bff;
}

.inputWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin-bottom: 16px;
}

.button_submit {
  appearance: none;
  margin-top: 8px;

  &_span {
    font-weight: bold;
    height: 16px;
    font-size: 13px;
  }

  border: none;
  width: 433px;
  background: #007bff;
  padding: 12px 8px;
  border-radius: 6px;
  color: #fff;
}