@use '../styles/mixins' as m;
@use '../styles/variables' as v;

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  background: v.$color_git;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0 auto;

}
