.popupButtons {
  display: flex;
  margin-top: 10px;
}

.popup {
  border-radius: 8px;
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ddd;
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-open {
  width: 500px;
  height: 200px;
  transition: width 0.5s ease, height 0.5s ease;
  overflow: clip;
}

.saveButton,
.cancelButton {
  background: linear-gradient(to bottom, #42b983, #3da872);
  color: white;
  width: 80px;
  height: 30px;
  margin-right: 10px;
  appearance: none;
  margin-top: 8px;
  border: none;
  border-radius: 5px;
}

.saveButton {
  background: #42b983;
}

.cancelButton {
  background: red;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

.deleteButton,
.editUser {
  width: 20px;
  height: 20px;
  background-size: contain;
}

.deleteButton {
  margin-left: 10px;
  background-image: url("/src/assets/images/delete_icon.png");
}

.editUser {
  background-image: url("/src/assets/images/edit.png");
}

.actions {
  display: flex;
  justify-content: space-around;
}

.newFio {
  width: 0;
  height: 0;
  padding: 0;
  font-size: 0.875rem;
  line-height: 1rem;
  border-radius: 6px;
}